@font-face {
	font-family: komikax;
	src: url('../fonts/komikax.ttf') format('truetype');
}

body {
	background-image: url('../img/background.jpg');
}

* {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12pt;
	color: #ffffff;
}

.navbar-default {
	background-color: #ad1d28;
	border-color: #911821;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
	background-color: none;
}
.navbar-default .navbar-text {
	color: #bbbbbb;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: #d92432;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #d92432;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: #d92432;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #d92432;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #911821;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #d92432;
	color: #ffffff;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
		background-color: #d92432;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #d92432;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

.kapfun-highlight {
}

.kapfun-thumbnail {
}

#kapfun-gallery div {
	box-sizing: border-box;
	border: 1px solid #f39c12;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 127px;
}

#kapfun-gallery div img {
	width: 100%; 
}

#kapfun-brand {
	font-family: komikax;
	height: 50px;
	padding: 0 10pt 0 10pt;
	margin: 0;
}

#kapfun-tagline {
	font-family: komikax;
	line-height: 50px;
	vertical-align: middle;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 10pt;
}

#kapfun-main {
	background-color: #f39c12;
	padding-bottom: 10pt;
	border-radius: 5px;
	margin-bottom: 10pt;
}

#kapfun-footer {
	background-color: #ad1d28;
	text-align: center;
	border-radius: 5px;
	padding: 10pt;
	margin-bottom: 10pt;
}